.btn {
  @apply inline-flex justify-center items-center font-semibold text-base leading-normal rounded-lg bg-grey-dark text-white;
  padding: 0 15px;
  min-height: 50px;

  // Types

  &.btn-primary {
    @apply bg-blue;
  }

  &.btn-success {
    @apply bg-green;
  }

  &.btn-danger {
    @apply bg-red;
  }

  // Bordered

  &.btn-border {
    @apply border-3 bg-transparent;

    &.btn-primary {
      @apply text-blue border-blue;
    }

    &.btn-success {
      @apply text-green border-green;
    }

    &.btn-danger {
      @apply text-red border-red;
    }
  }

  // Sizes

  &.btn-sm {
    @apply .text-sm .rounded-sm;
    min-height: 30px;
  }

  &.btn-lg {
    min-height: 55px;
  }

  // Helpers

  &.bg-white {
    @apply bg-white;
  }
}
