.input-parent input,
.input {
  @apply bg-grey-lightest p-4 text-sm leading-none rounded-lg w-full border border-transparent mb-3;
  height: 50px;

  &:focus {
    @apply border-blue-light
  }
}

.has-icon {
  input {
    padding-left: 48px !important;
  }    
}

.input-size-lg {
  input {
    font-size: 24px;
  }
}

// Algolia
.algolia-places {
  @apply relative;

  button {
    @apply -mt-3;
  }

  .ap-dropdown-menu {
    @apply -mt-3;
  }
}
